.logo 
{
    width: 100px;
    border-radius: 20% 20%;
}
body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.back
{
background-color: #FFE4C4;

}
header {
    text-align: center;
    font-size: 24px;
    letter-spacing: 5px;
    border-bottom: 15px dotted #FFF8DC;;
}
h1 {
    font-size: 22px;
    font-weight: 600;
}
h2 {
    font-size: 20px;
    font-weight: 500;
}
h3 {
    font-size: 18px;
    font-weight: 400;
}
.container a{
    padding: 5px;
}
.container{
    font-size: 22px;
    color: #800000;
}
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}



.myyellow{background-color: #FFF8DC;}

.myred{background-color: #BC8F8F;}

.myorange{ background-color: #FFE4C4;}

@media (min-width: 768px) {

h2 {
    font-size: 50px;
}
.container a{
    padding: 5px;
    color: #800000;
}

    
}